PORT=8080

KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=university
KEYCLOAK_CLIENT_ID=acl-client
KEYCLOAK_CLIENT_SECRET=change-me

LEGACY_SERVER_URL=http://legacy-server:5001
LEGACY_CLIENT_URL=http://legacy-client:3000
INTERNAL_API_KEY=dev-internal-api-key
JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRES_IN=8h
